body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background: #121212;
  color: #e1e1e1;
}

* {
  box-sizing: border-box;
  user-select: none;
}

.container {
  padding: 24px;
}

.container--secondary {
  background: #191919;
}

#status th,
#status td {
  padding: 0;
  font-weight: 400;
  text-align: left;
}

#status th {
  padding-right: 16px;
}

#status tr + tr th,
#status tr + tr td {
  padding-top: 12px;
}

.status-line__value {
  color: #aaa;
}

.status-line__value--yes {
  color: #32cd32;
}

#control {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

#control.disabled {
  cursor: not-allowed;
}

#control.disabled * {
  opacity: 0.4;
  pointer-events: none;
}

#control__range {
  width: 100%;
  min-width: 0;
}

#control__label {
  min-width: 0;
  width: 56px;
  flex-shrink: 0;
  text-align: right;
  white-space: nowrap;
  color: #aaa;
}

input[type=range] {
  width: 100%;
  background: transparent;
  appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  height: 32px;
  width: 16px;
  border-radius: 3px;
  background: #e1e1e1;
  cursor: pointer;
  /* normally at the top of track: (thumbHeight - trackHeight) / 2 */
  margin-top: -10px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: #444;
  border-radius: 6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #444;
}